<ion-modal-view ng-controller="addTaskCtrl">
  <ion-header-bar >
    <h1 class="title">Add Task</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddTask()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
  <label class="item item-input" >
    <span class="input-label" >Task Name</span>
    <input type="text" ng-model="task.tasktitle">
  </label>
<label class="item item-input item-stacked-label">
    <span class="input-label" >Description</span>
    <textarea rows="8" cols="5" ng-model="task.description">
    </textarea>
</label>
<label class="item item-input">
  <span class="input-label" >Estimate</span>
  <input type="number" min="0" ng-model="task.estimate"> 
    Days 
</label>
<button on-touch="onTouch()" class="button">Test</button>
<button on-hold="onHold()" class="button">Test</button>

<div class="item item-avatar">
  Assigned to Worakrit
    <img src="img/Wor.png" >  
  </div>
 
 

<br>
  <button class="button button-small button-positive icon-left ion-plus" style="float: right;"  ng-click="addThisTask()">Add This Task</button>
  </ion-content></ion-modal-view>
