<ion-view view-title="Burndown">
 <ion-header-bar>
  <button class="button button-clear icon ion-navicon" ng-click="goProjectlist()"></button>
  <h1 class="title">Burndown</h1>
  <button class="button button-clear icon ion-more" ng-click="more()"></button>
  </ion-header-bar>
  <ion-content>


 </div> 
<p>Activity</p>
	<div class="item item-avatar">
      <img src="/img/wor.png">
      <p><span style="color:blue">{{users.name}}</span> complete Task 3</p>	
     
  </div>
  </ion-content>
</ion-view>
