 <ion-header-bar>
 <button class="button button-clear icon ion-navicon" ng-click="goProjectlist()"></button>
 <h1 class="title">Home</h1>
 <button class="button button-clear icon ion-more" ng-click="more()"></button>
</ion-header-bar>
 <ion-header-bar class="bar-subheader bar-positive">
        <h1 class="title">Project: {{currentProject}}</h1>
      </ion-header-bar>
<ion-content>
<!-- <div class="list " height="50px">

	<div class="item item-divider" ng-click="openTask(task)" high="10px">
		<div ng-style=tasks[0].style>
			<div class="row ">
				<div class="col col-50" > {{tasks[0].tasktitle}}</div> 
				<div class="col">{{tasks[0].state}}</div>
				<div class="col">{{tasks[0].estimate}} Days</div>
			</div>	
		</div>
		<div class="item item-text-wrap item item-avatar">
	
      <img src="/img/wor.png">
      <h2>{{users.name}}</h2>
      <p >Team 1. </p>	
  </div>
	</div>
	
</div> --> 
 <ion-list 
          can-swipe="listCanSwipe">
  <ion-item ng-repeat="task in tasks" ng-if="task.flag==1||task.state=='Doing'"
           class="card" ng-click="openTask(task)" high="10px">
    <h2 class={{task.state}}>{{task.tasktitle}} :{{task.state}}</h2>
    <div class="row">
       <div class="col col-50"><p><b>{{task.priority}}</b></p></div>
      <div class="col"></div>
    <div class="col"><p>{{task.estimate}} Days</p></div>
    </div>  
    <ion-option-button class="buntton-minus-circled"
                       ng-click="tasks.splice($index, 1)">
      Delete
    </ion-option-button>
  </ion-item>
</ion-list>

 <div class="card">
        <div class="item item-divider">
            Pie chart
        </div>
        <div class="item item-text-wrap">
           <!--  <canvas id="myPiechart" class="chart chart-pie" chart-data="data" chart-labels="labels" char-color="colors" hart-options="chartoptions"></canvas>  -->
            <canvas ng-jq id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"  chart-legend="true" chart-options="options" ></canvas> 
        </div>
    </div>

</ion-content>
</ion-view>
