 <ion-header-bar>
 <button class="button button-clear icon ion-navicon" ng-click="goProjectlist()"></button>
 <h1 class="title">Home</h1>
 <button class="button button-clear icon ion-more" ng-click="more()"></button>
</ion-header-bar>
 <ion-header-bar class="bar-subheader bar-dark">
        <h1 class="title">Project</h1>
      </ion-header-bar>
<ion-content>
<!-- <div class="list " height="50px">

	<div class="item item-divider" ng-click="openTask(task)" high="10px">
		<div ng-style=tasks[0].style>
			<div class="row ">
				<div class="col col-50" > {{tasks[0].tasktitle}}</div> 
				<div class="col">{{tasks[0].state}}</div>
				<div class="col">{{tasks[0].estimate}} Days</div>
			</div>	
		</div>
		<div class="item item-text-wrap item item-avatar">
	
      <img src="/img/wor.png">
      <h2>{{users.name}}</h2>
      <p >Team 1. </p>	
  </div>
	</div>
	
</div> --> 
 <ion-list 
          can-swipe="listCanSwipe">
  <ion-item ng-repeat="task in tasks" ng-if="task.flag==1"
            class="card item item-avatar" ng-click="openTask(task)" high="10px">
  <img ng-src="/img/wor.png">
    <h2 class={{task.state}}>{{task.tasktitle}} :{{task.state}}</h2>
    <div class="row">
       <div class="col col-50"><p>{{task.piority}}</p></div>
      <div class="col"></div>
    <div class="col"><p>{{task.estimate}} Days</p></div>
    </div>  
    <ion-option-button class="buntton-minus-circled"
                       ng-click="tasks.splice($index, 1)">
      Delete
    </ion-option-button>
  </ion-item>
</ion-list>
</ion-content>
</ion-view>
