<ion-view view-title="Setting">
 <ion-header-bar>
  <button class="button button-clear icon ion-navicon" ng-click="goProjectlist()"></button>
  <h1 class="title">Setting Team</h1>
  <button class="button button-clear icon ion-person-add"></button>
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <div class="card" >
    Team 1
  	<a class="item item-avatar" href="#">
      <img src="img/wor.png">
      <h2>Worakrit </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/belle.jpg">
      <h2>Belle</h2>
    </a>
    </div>
    <div class="card">
      Team 2
     <a class="item item-avatar" href="#">
      <img src="img/ray.jpg">
      <h2>Ray</h2>
    </a>
    </div>
</div>
  </ion-content>
</ion-view>
