 <ion-header-bar>
 	<button class="button button-clear icon ion-navicon" ng-click="goProjectlist()"></button>
    <h1 class="title" ng-click="chooseSprint()">
      Sprint {{sprint}} ▼
    </h1>
 	<button class="button button-clear icon ion-more" ng-click="more()"></button>
</ion-header-bar>

<ion-content>
<div class="button-bar">
	<a class="button button-outline button-royal" ng-click="showTodo()" ng-class="{'active':taskState==1}">Todo</a>
	<a class="button button-outline button-calm" ng-click="showDoing()" ng-class="{'active':taskState==2}">Doing</a>
	<a class="button button-outline button-balanced" ng-click="showDone()" ng-class="{'active':taskState==3}">Done</a>
</div>

<!-- <ion-list 
can-swipe="listCanSwipe" >
<ion-item ng-repeat="task in tasks" ng-if="state==task.state">
	 <div class="item item-divider"  ng-click="openTask(task)">
     <div ng-style=task.style>
    <div class="row"> 
        <div class="col col-50">{{task.tasktitle}}:{{task.piority}}</div> 
        <div class="col"></div>
        <div class="col">{{task.estimate}} Days</div>
  </div>  
  </div>
  <div class="item item-text-wrap item item-avatar">  
      <img src="/img/wor.png">
      <h2>{{users.name}}</h2>
      <p >Team 1 </p> 
  </div>
</div>
  	
<ion-option-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
      Delete
 </ion-option-button>
</ion-item>
</ion-list> -->
<ion-list 
          can-swipe="listCanSwipe">
  <ion-item ng-repeat="task in tasks | filter:{sprint:sprint}" ng-if="state==task.state"
            class="card item item-avatar" ng-click="openTask(task)" high="10px">
  <img ng-src="img/wor.png">
   
     <div class="row">
       <div class="col col-75"> <h2 class={{task.state}}>{{task.tasktitle}} </p></div>
      <div class="col {{task.state}}">{{task.state}} </h2></div>
   
    </div> 
    <div class="row">
       <div class="col col-50"><p><b>{{task.priority}}</b></p></div>
      <div class="col"></div>
    <div class="col"><p>{{task.estimate}} Days</p></div>
    </div>  
    <ion-option-button class="buntton-minus-circled"
                       ng-click="tasks.splice($index, 1)">
      Delete
    </ion-option-button>
  </ion-item>
</ion-list>
</ion-content>
