<ion-modal-view ng-controller="TaskCtrl">
  <ion-header-bar>

    <h1 class="title"><div ng-style=modal.task.style>{{modal.task.name}}</div> </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTask()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
  <ion-checkbox ng-model="isChecked">Home Mark</ion-checkbox>
      <div class="item item-avatar">
    <img src="img/wor.png">
      <h2>Worakrit </h2>   
      <h1 > {{modal.task.state}}</h1>
  </div>

  <div class="item item-body">
    <p>
      <p><span style="color:blue"> Estimate </span>: {{modal.task.estimate}} Days </p>
      <p><span style="color:blue"> Sprint </span>: Sprint 1 </p>
      <p><span style="color:blue"> TEAM </span> : Team 1 </p>
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
  </div>

  </ion-content>
</ion-modal-view>
